img{
    display:none;
    width: 100%;
    position: absolute;
    left: 23cm;
    top: 17mm;
}
@media (max-width:560px){
    img{
       display:none;
    }
}
.under{
    border-bottom: 1px solid #06c;
}
.sub-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    position: absolute;
    left: 260px;
    top: 60px;
}
@media (max-width:560px){
    .sub-title{
        left: 13px;
        top: 145px;
    }
}
.blog-name{
    position: absolute;
    left: 69mm;
    top: 28mm;
    font-family:"Poppins", sans-serif;
    font-size:14px;
    
}
@media (max-width:560px){
    .blog-name{
        left: 20px;
        top: 185px;
    }
    }

.blog-name a{
    text-decoration: underline;
}
.date{
    font-family: Arial, Helvetica, sans-serif;
   
}
p{
    position:absolute;
    left: 260px;
    top: 42px;
    font-family:"Poppins", sans-serif;
    font-size:15px;
    
  }
  @media (max-width: 560px)  {
      p{
        left:auto;
        top: 145px;
        font-size: 13px;
      }
  }
  .row ~ .row, [class*='column'] ~ [class*='column'] {
    margin-top: 1rem;
}

[class*='column'] {
    width: calc(100% - 1rem);
    float: left;
    min-height: 1px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}