.header{
    position: absolute;
    font-size: 14px;
    font-family:"Poppins", sans-serif;
    margin-right:20pc;
    left: 260px;
    top: 60px;
}
@media (max-width: 560px){
    .header{
        left: 12px;
        top: 140px;
        margin-right: 5pc;
    
    }
   
}
.vertical{
    border-left: 1px solid #b5b5b5 ;
    height: 27pc;
    position: absolute;
    left: 260px;
    top: 180px;
}
@media (max-width: 560px) {
    .vertical{
        left: 13px;
        top: 293px;
    }
}
.langname{
    
    
    position:absolute;
    left: 260px;
    top: 140px;
}
@media (max-width:560px){
    .langname{
        left: 11px;
        top: 267px;
    }
}

.code{
    position:absolute;
    left: 280px;
    top: 190px;
    margin-right: 0px;
}
@media (max-width: 560px){
    .code{
        left: 25px;
        top: 304px;
        margin-right: 0px;
    }
}
