.title{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  position: absolute;
  left: 46px;
  top: 60px;
}
.menu{
  margin-top: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  position: absolute;
  left: 46px;
  top: 60px;
  cursor: pointer;
 
}
@media (max-width: 560px){
  .title{
    left: 13px;
    top: 40px;
  }
}
@media (max-width: 560px) {
  .menu {
    left: 36px;
    top: 40px;
  }
}

 a{
  color: #000000;
  text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  
}
@media (max-width: 560px) {
  .under.about {
    position: relative;
    left: -33px;
    top: -3px;
  }
}
@media (max-width: 560px) {
  .under.blog {
    position: relative;
    left: 45px;
    top: -32px;
  }
}
@media (max-width: 560px){
  .hover-underline-animation.about{
    position: relative;
    left: -33px;
    top: -3px;
  }
}
@media (max-width: 560px) {
  .hover-underline-animation.blog {
    position: relative;
    left: 45px;
    top: -32px;
  }
}
@media (max-width: 560px) {
  .under.tech {
    position: relative;
    left: 88px;
    top: -62px;
  }
}
@media (max-width: 560px) {
  .hover-underline-animation.tech {
    position: relative;
    left: 88px;
    top: -62px;
  }
}
@media (max-width: 560px) {
  .under.non {
    position: relative;
    left: 159px;
    top: -92px;
  }
}
@media (max-width: 560px) {
  .hover-underline-animation.non {
    position: relative;
    left: 159px;
    top: -92px;
  }
}
@media (max-width: 560px) {
  .under.contact {
    position: relative;
    left: 260px;
    top: -122px;
  }
}
@media (max-width: 560px) {
  .hover-underline-animation.contact {
    position: relative;
    left: 260px;
    top: -122px;
  }
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:1px;
  bottom: 0;
  left: 0;
  background-color: #06C;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
[class*='column'] {
  width: calc(100% - 1rem);
  float: left;
  min-height: 1px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.note{
  position:absolute;
  bottom:0cm;
  left: 40px;
  margin-bottom: 1cm;
  font-size: 10px;
  font-family: 'Inconsolata', monospace;;
}
@media (max-width:560px) {
  .note{
    left: 1pc;
    bottom:0px;
    margin-bottom: 1cm;
  }
}