---
---

<div>
  <p>
    Here are some of my technical skills:
  </p>
  <ul class="mt-5">
    <li>
      <strong>C,C++.</strong>
      Back to the basic, I use Cpp as my most used language. While doing competitive programming, I used only cpp. Build few graphical games as well.
    </li>
    <li>
      <strong>Web dev.</strong>
      
    </li>
    <li>
      <strong>Graphql</strong> 
      As building the web app, I need to decide between Rest or graphql, I decided to go with graphql and it was a good decision. 
    </li>
    <li>
      <strong>Artifical Intelligience and Machine learning.</strong> I was an enthusiast of ai and ml and always have been
    </li>
    <!-- <li>
      <strong>Accessible.</strong> A well thought out semantic and accessible
      content.
    </li>
    <li>
      <strong>Perfect lighthouse score.</strong> 100 across the board.
    </li>
    <li>
      <strong>Content authoring for everyone.</strong> Author content using markdown
      (<code>.md</code>) from your code editor or directly in GitHub.
    </li>
    <li>
      <span>
        <strong>Extended markdown</strong> with 
        <a href="https://markdoc.dev">Markdoc</a>.
      </span>
      <span>
        Type-safe custom components like YouTube embed, Twitter embed (or
        anything you want really) in your markdown (<code>.md</code>) files.</span
      >
    </li>-->
    <li> 
      <strong>Web 3.0 </strong>  and more.
    </li>
  </ul>
</div>
